body {
    background-color: #E11364;
    margin: 120px;
}

h1 {
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size: 48px;
    background-color: #BC105C;
    color: #FFFFFF;
    border-left: solid;
    border-right: solid;
    /* border: 2px solid ; */
}

.sectores {
    font-family: Arial, sans-serif;
    background-color: #BC105C;
    color: #FFFFFF;
    padding: 20px;
}

article {
    padding-left: 20px;
    padding-top: 5px;
    padding-right: 2px;
    padding-bottom: 15px;
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: black;

}

button {
    background-color: #126102;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    padding: 16px;
    width: 130px;
    margin-left: 45%;
}
